#
# Device : Xiaomi Mi 5 (gemini) Maintainer : MOVZX (MOVZX@Telegram.org)
#
# "You hate me, but you cannot defeat me..." quote from Medieval II Total War
#
on boot
    # Set CPU Parameters
        # Disable thermal hotplug to switch governor
            write /sys/module/msm_thermal/core_control/enabled 0
        #
        # Little
            chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
            chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
            # Performance
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor performance
        # Big
            chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
            chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
            # Performance
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor performance on darkness
    # Set CPU Parameters
        # Disable thermal hotplug to switch governor
            write /sys/module/msm_thermal/core_control/enabled 0
        #
        # Little
            chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq
            chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
            write /sys/devices/system/cpu/cpu0/cpufreq/scaling_min_freq 307200
            # DarkEnergy
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor darkenergy
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/darkenergy/down_rate_limit_us
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/darkenergy/up_rate_limit_us
                write /sys/devices/system/cpu/cpu0/cpufreq/darkenergy/down_rate_limit_us 20000
                write /sys/devices/system/cpu/cpu0/cpufreq/darkenergy/up_rate_limit_us 500
            # SchedUtil
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor
                write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor schedutil
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable
                chmod 777 /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us
                write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/down_rate_limit_us 20000
                write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/iowait_boost_enable 1
                write /sys/devices/system/cpu/cpu0/cpufreq/schedutil/up_rate_limit_us 500
        # Big
            chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq
            chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
            write /sys/devices/system/cpu/cpu2/cpufreq/scaling_min_freq 307200
            # DarkEnergy
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor darkenergy
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/darkenergy/down_rate_limit_us
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/darkenergy/up_rate_limit_us
                write /sys/devices/system/cpu/cpu2/cpufreq/darkenergy/down_rate_limit_us 20000
                write /sys/devices/system/cpu/cpu2/cpufreq/darkenergy/up_rate_limit_us 500
            # SchedUtil
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor
                write /sys/devices/system/cpu/cpu2/cpufreq/scaling_governor schedutil
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/schedutil/down_rate_limit_us
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/schedutil/iowait_boost_enable
                chmod 777 /sys/devices/system/cpu/cpu2/cpufreq/schedutil/up_rate_limit_us
                write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/down_rate_limit_us 20000
                write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/iowait_boost_enable 1
                write /sys/devices/system/cpu/cpu2/cpufreq/schedutil/up_rate_limit_us 500
        #
        # Re-enable thermal hotplug
            # write /sys/module/msm_thermal/core_control/enabled 1
    #
    # CPU Input Boost
        write /sys/module/cpu_boost/parameters/dynamic_stune_boost_rt 50
        write /sys/module/cpu_boost/parameters/dynamic_stune_boost_top_app 30
        write /sys/module/cpu_boost/parameters/input_boost_enabled 1
        write /sys/module/cpu_boost/parameters/input_boost_freq "0:960000 1:960000 2:1248000 3:1248000"
        write /sys/module/cpu_boost/parameters/input_boost_ms 1500
        write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 20
        write /sys/module/cpu_input_boost/parameters/input_boost_duration 1500
        write /sys/module/cpu_input_boost/parameters/input_boost_freq_hp 1248000
        write /sys/module/cpu_input_boost/parameters/input_boost_freq_lp 960000
    #
    # Dynamic SchedTune Boost
        write /dev/stune/foreground/schedtune.sched_boost 20
        write /dev/stune/rt/schedtune.sched_boost 50
        write /dev/stune/schedtune.sched_boost 20
        write /dev/stune/top-app/schedtune.sched_boost 30
    #
    # Set Adreno GPU
        chmod 777 /sys/class/kgsl/kgsl-3d0/devfreq/max_freq
        chmod 777 /sys/class/kgsl/kgsl-3d0/devfreq/min_freq
        write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 624000000
        write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    #
    # Set LMK
        write /sys/module/lowmemorykiller/parameters/debug_level 0
        write /sys/module/lowmemorykiller/parameters/minfree "18432,23040,27648,80640,110592,131072"
    #
    # VM Tweaks
        write /proc/sys/vm/dirty_background_ratio 70
        write /proc/sys/vm/dirty_ratio 90
        write /proc/sys/vm/extra_free_kbytes 24300
        write /proc/sys/vm/min_free_kbytes 4096
        write /proc/sys/vm/oom_kill_allocating_task 0
        write /proc/sys/vm/overcommit_ratio 80
        write /proc/sys/vm/swappiness 60
        write /proc/sys/vm/vfs_cache_pressure 100
    #
    # Set I/O Scheduler
        setprop sys.io.scheduler fiops
        # SDA
            write /sys/block/sda/queue/iostats 0
            write /sys/block/sda/queue/read_ahead_kb 256
            write /sys/block/sda/queue/scheduler fiops
        # SDE
            write /sys/block/sde/queue/iostats 0
            write /sys/block/sde/queue/read_ahead_kb 256
            write /sys/block/sde/queue/scheduler fiops
        # DM-0
            write /sys/block/dm-0/queue/iostats 0
            write /sys/block/dm-0/queue/read_ahead_kb 256
            write /sys/block/dm-0/queue/scheduler fiops
    #
    # SCSI Tweaks
        write /sys/module/scsi_mod/parameters/use_blk_mq Y
    #
    # Entropy Tweaks
        write /proc/sys/kernel/random/read_wakeup_threshold 64
        write /proc/sys/kernel/random/write_wakeup_threshold 896
    #
    # Misc Tweaks
        # write /sys/devices/soc/soc:fpc_fpc1020/enable_wakeup 1
        chmod 777 /sys/module/workqueue/parameters/power_efficient
        write /sys/kernel/dyn_fsync/Dyn_fsync_active 1
        write /sys/module/msm_thermal/parameters/enabled N
        write /sys/module/workqueue/parameters/power_efficient Y
    #
    # Thermal Configs
        setprop sys.qcom.thermalcfg /vendor/etc/thermal-engine-8996.conf
        stop thermal-engine
        start thermal-engine
    #
    # Darkness Mods
        setprop dalvik.vm.dex2oat-threads 4
        setprop dalvik.vm.image-dex2oat-threads 4
        setprop debug.generate-debug-info false
        setprop net.hostname Darkness
        setprop ro.data.large_tcp_window_size true
        setprop ro.sys.fw.dex2oat_thread_count 4
        setprop ro.sys.sdcardfs true
        setprop sys.use_fifo_ui 1
        setprop wifi.supplicant_scan_interval 3600 on property:dev.bootcomplete=1
    # Fire up the Darkness! You hate me, but you cannot defeat me...
        trigger darkness
    # DK, not Syberia...
        stop vendor.msm_irqbalance
    # Disable Thermal Engine service
        stop thermal-engine
    # Sensor Fix
        restorecon -rv /vendor/mnt/persist
